.heading-container{
  display: flex;
  gap: 2rem;
  padding: 1rem;
}
.headings{
  padding: 1rem;
   border: 1px solid black;
   border-radius: .5rem;
}
.tab-container{
  display: flex;
   border: 1px solid black;
   border-radius: .5rem;
   height: 100px;
   margin: 2rem;
   padding: 1rem;
}